<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Wrecker!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="container">
        <h1 id="headline">Movie Recommender 3000</h1>
        
        {% block content %}
        
        <!-- we will define our main content for other html pages/templates-->
        
        {% endblock %}
        
        <footer class="green">Copyright 2022, Spiced Academy</footer>
    </div>
    
</body>

</html>
